<th:block th:fragment="content">
          <div id="list-item-7">

            <!--===== BLOG AREA STARTS =======-->

            <div class="blog-section-area">

              <div class="container">

                <div class="row">

                  <div class="col-lg-12">

                    <div class="blog-header heading1">

                      <h5 data-aos="fade-left" data-aos-duration="900"><img th:src="@{/ovro-index6-full/assets/img/icons/sublogo1.svg}" src="/ovro-index6-full/assets/img/icons/sublogo1.svg" alt="">Our Blog</h5>

                      <div class="space24"></div>

                      <h2 data-aos="fade-left" data-aos-duration="1000">Our Latest Blog Idea </h2>

                      <div class="space24"></div>

                      <h2 class="head" data-aos="fade-left" data-aos-duration="1200">UI/UX <span>Trends</span></h2>

                      <div class="space60"></div>

                      <div class="row">

                        <div class="col-lg-6 col-md-6">

                          <div class="blog-boxarea">

                            <div class="img1 reveal">

                             <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html"> <img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img1.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img1.png" alt=""></a>

                            </div>

                            <div class="content-area">

                              <ul>

                                <li><a href="#">UI/UX</a></li>

                                <li><a href="#"><i class="fa-regular fa-clock"></i> 3 min read</a></li>

                              </ul>

                              <div class="space16"></div>

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html">Behind the Pixels: My Favorite Design Projects</a>

                              <div class="space16"></div>

                              <ul>

                                <li><a href="#"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img5.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img5.png" alt="">Alex Carry</a></li>

                                <li><a href="#"><i class="fa-regular fa-calendar"></i>Oct 26, 2024 </a></li>

                              </ul>

                            </div>

                          </div>

                        </div>

                        <div class="col-lg-6 col-md-6">

                          <div class="blog-boxarea">

                            <div class="img1 reveal">

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img2.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img2.png" alt=""></a>

                            </div>

                            <div class="content-area">

                              <ul>

                                <li><a href="#">UI/UX</a></li>

                                <li><a href="#"><i class="fa-regular fa-clock"></i> 3 min read</a></li>

                              </ul>

                              <div class="space16"></div>

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html">Crafting Seamless Experiences: My UI/UX Design Philosophy</a>

                              <div class="space16"></div>

                              <ul>

                                <li><a href="#"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img5.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img5.png" alt="">Alex Carry</a></li>

                                <li><a href="#"><i class="fa-regular fa-calendar"></i>Oct 26, 2024 </a></li>

                              </ul>

                            </div>

                          </div>

                        </div>



                        <div class="col-lg-6 col-md-6">

                          <div class="blog-boxarea">

                            <div class="img1 reveal">

                             <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html"> <img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img3.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img3.png" alt=""></a>

                            </div>

                            <div class="content-area">

                              <ul>

                                <li><a href="#">UI/UX</a></li>

                                <li><a href="#"><i class="fa-regular fa-clock"></i> 3 min read</a></li>

                              </ul>

                              <div class="space16"></div>

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html">Staying Ahead: Trends Shaping UI/UX in 2024</a>

                              <div class="space16"></div>

                              <ul>

                                <li><a href="#"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img5.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img5.png" alt="">Alex Carry</a></li>

                                <li><a href="#"><i class="fa-regular fa-calendar"></i>Oct 26, 2024 </a></li>

                              </ul>

                            </div>

                          </div>

                        </div>



                        <div class="col-lg-6 col-md-6">

                          <div class="blog-boxarea">

                            <div class="img1 reveal">

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img4.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img4.png" alt=""></a>

                            </div>

                            <div class="content-area">

                              <ul>

                                <li><a href="#">UI/UX</a></li>

                                <li><a href="#"><i class="fa-regular fa-clock"></i> 3 min read</a></li>

                              </ul>

                              <div class="space16"></div>

                              <a th:href="@{/ovro-index6-full/blog-single.html}" href="/ovro-index6-full/blog-single.html">From Concept to Reality: My Design Process</a>

                              <div class="space16"></div>

                              <ul>

                                <li><a href="#"><img th:src="@{/ovro-index6-full/assets/img/all-images/blog/blog-img5.png}" src="/ovro-index6-full/assets/img/all-images/blog/blog-img5.png" alt="">Alex Carry</a></li>

                                <li><a href="#"><i class="fa-regular fa-calendar"></i>Oct 26, 2024 </a></li>

                              </ul>

                            </div>

                          </div>

                        </div>



                        <div class="space30"></div>

                        <div class="pagination-area">

                          <nav aria-label="Page navigation example">

                            <ul class="pagination justify-content-center">

                              <li class="page-item">

                                <a class="page-link" href="#" aria-label="Previous">

                                  <i class="fa-solid fa-angle-left"></i>

                                </a>

                              </li>

                              <li class="page-item"><a class="page-link active" href="#">1</a></li>

                              <li class="page-item"><a class="page-link" href="#">2</a></li>

                              <li class="page-item"><a class="page-link" href="#">...</a></li>

                              <li class="page-item"><a class="page-link" href="#">12</a></li>

                              <li class="page-item">

                                <a class="page-link" href="#" aria-label="Next">

                                  <i class="fa-solid fa-angle-right"></i>

                                </a>

                              </li>

                            </ul>

                          </nav>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!--===== BLOG AREA ENDS =======-->

          </div>
</th:block>
