<th:block th:fragment="content">
          <div class="personal-contact-box">

            <div id="list-example" class="list-group">

              <a class="list-group-item list-group-item-action active" href="#list-item-1"><img th:src="@{/ovro-index6-full/assets/img/icons/home1.svg}" src="/ovro-index6-full/assets/img/icons/home1.svg" alt=""><span>Cover Letter</span></a>

              <a class="list-group-item list-group-item-action" href="#list-item-2"><img th:src="@{/ovro-index6-full/assets/img/icons/home2.svg}" src="/ovro-index6-full/assets/img/icons/home2.svg" alt=""> <span>Professional Profile</span></a>

              <a class="list-group-item list-group-item-action" href="#list-item-4"><img th:src="@{/ovro-index6-full/assets/img/icons/home4.svg}" src="/ovro-index6-full/assets/img/icons/home4.svg" alt=""> <span>My Skills</span></a>

              <a class="list-group-item list-group-item-action" href="#list-item-5"><img th:src="@{/ovro-index6-full/assets/img/icons/home5.svg}" src="/ovro-index6-full/assets/img/icons/home5.svg" alt=""> <span>Personal Projects</span></a>

              <a class="list-group-item list-group-item-action m-0" href="#list-item-8"><img th:src="@{/ovro-index6-full/assets/img/icons/home7.svg}" src="/ovro-index6-full/assets/img/icons/home7.svg" alt=""> <span>Contact me</span></a>

            </div>

            <div class="img1 image-anime reveal">

              <img th:src="@{/ovro-index6-full/assets/img/all-images/hero/Profile2.jpeg}" src="/ovro-index6-full/assets/img/all-images/hero/Profile2.jpeg" alt="">

            </div>

            <div class="space18"></div>

            <h3>Alejandro Valencia</h3>

            <div class="space16"></div>

            <p> I'm a Senior developer with a more than 7 years of strong experience leading teams and building Complex, scalable and robust full stack solutions for real company needs.</p>

            <div class="space16"></div>

            <ul>
              <li>
                <a href="https://www.linkedin.com/in/alejandro-valencia-rivera" target="_blank" rel="noopener noreferrer">
                  <img th:src="@{/ovro-index6-full/assets/img/icons/s-icon4.svg}" src="/ovro-index6-full/assets/img/icons/s-icon4.svg" alt="LinkedIn">
                </a>
              </li>
            </ul>

            <div class="space24"></div>

            <div class="btn-area1 text-center">

              <a th:href="@{/ovro-index6-full/assets/img/all-images/hero/cv.pdf}" href="/ovro-index6-full/assets/img/all-images/hero/cv.pdf" download class="vl-btn1">Download My CV Now <img th:src="@{/ovro-index6-full/assets/img/icons/download1.svg}" src="/ovro-index6-full/assets/img/icons/download1.svg" alt=""></a>

            </div>

            <div class="space8"></div>

          </div>
</th:block>
