<th:block th:fragment="content">
          <div id="list-item-5">

            <!--===== PORTFOLIO AREA STARTS =======-->

            <div class="portfolio-section-area">

              <div class="container">

                <div class="row">

                  <div class="col-lg-12">

                    <div class="portfolio-header heading1">

                      <h5 data-aos="fade-left" data-aos-duration="800"><img th:src="@{/ovro-index6-full/assets/img/icons/sublogo1.svg}" src="/ovro-index6-full/assets/img/icons/sublogo1.svg" alt="">My Portfolio</h5>

                      <div class="space24"></div>

                      <h2 data-aos="fade-left" data-aos-duration="1000">Innovation Designs</h2>

                      <div class="space24"></div>

                      <h2 class="head" data-aos="fade-left" data-aos-duration="1100">Real <span>Results</span></h2>

                    </div>

                  </div>

                  <div class="space50"></div>

                  <div class="col-lg-12" data-aos="fade-left" data-aos-duration="1000">

                    <div class="portfolio-boxarea click-here">

                      <div class="img1">

                        <a href="javascript:void(0)">

                          <img th:src="@{/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img1.png}" src="/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img1.png" alt="">

                        </a>

                      </div>

                      <div class="space24"></div>

                      <a href="javascript:void(0)">Reelup - E commercer Video Platform</a>

                    </div>

                  </div>



                  <div class="col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="1100">

                    <div class="portfolio-boxarea2 click-here">

                      <div class="img1">

                        <a href="javascript:void(0)">

                          <img th:src="@{/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img3.png}" src="/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img3.png" alt="">

                        </a>

                      </div>

                      <div class="space24"></div>

                      <a href="javascript:void(0)">Academy - Sales Career</a>

                    </div>

                  </div>



                  <div class="col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="1200">

                    <div class="portfolio-boxarea2 click-here">

                      <div class="img1">

                        <a href="#">

                          <img th:src="@{/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img4.png}" src="/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img4.png" alt="">

                        </a>

                      </div>

                      <div class="space24"></div>

                      <a href="javascript:void(0)">Leadlogic- Dashboard Design</a>

                    </div>

                  </div>



                  <div class="col-lg-12" data-aos="fade-left" data-aos-duration="1100">

                    <div class="portfolio-boxarea click-here">

                      <div class="img1">

                        <a href="javascript:void(0)">

                          <img th:src="@{/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img2.png}" src="/ovro-index6-full/assets/img/all-images/portfolio/portfolio-img2.png" alt="">

                        </a>

                      </div>

                      <div class="space24"></div>

                      <a href="javascript:void(0)">Reelup - E commercer Video Platform</a>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!--===== PORTFOLIO AREA ENDS =======-->

          </div>
</th:block>
