<th:block th:fragment="content">
          <div id="list-item-3">

            <!--===== SERVICE AREA STARTS =======-->

            <div class="service-section-area">

              <div class="container">

                <div class="row">

                  <div class="col-lg-12">

                    <div class="service-header heading1">

                      <h5 data-aos="fade-left" data-aos-duration="800"><img th:src="@{/ovro-index6-full/assets/img/icons/sublogo1.svg}" src="/ovro-index6-full/assets/img/icons/sublogo1.svg" alt="">My Services</h5>

                      <div class="space24"></div>

                      <h2 data-aos="fade-left" data-aos-duration="1000">Elevating Brands</h2>

                      <div class="space24"></div>

                      <h2 class="head" data-aos="fade-left" data-aos-duration="1100">Intuitive <span>Design</span></h2>

                      <div class="space50"></div>

                     <div class="div" data-aos="fade-left" data-aos-duration="900">

                      <div class="service-main-boxes" >

                        <h4>UI/UX Design</h4>

                        <div class="space24"></div>

                        <p>Designing intuitive, user-focused interfaces that prioritize functionality and seamless navigation.</p>

                      </div>

                     </div>

                      <div class="space30"></div>

                      <div class="div" data-aos="fade-left" data-aos-duration="1000">

                        <div class="service-main-boxes">

                          <h4>User Research & Prototyping</h4>

                          <div class="space24"></div>

                          <p>Conducting in-depth user research and creating interactive prototypes to validate ideas and refine designs.</p>

                        </div>

                      </div>

                      <div class="space30"></div>

                      <div class="div" data-aos="fade-left" data-aos-duration="1100">

                        <div class="service-main-boxes">

                          <h4>Responsive Web Design</h4>

                          <div class="space24"></div>

                          <p>Crafting designs that adapt seamlessly across all devices, ensuring a consistent user experience.</p>

                        </div>

                      </div>

                      <div class="space30"></div>

                      <div class="div" data-aos="fade-left" data-aos-duration="1200">

                        <div class="service-main-boxes">

                          <h4>Wireframing & Visual Design</h4>

                          <div class="space24"></div>

                          <p>Creating detailed wireframes and visually stunning designs to bring ideas into focus.</p>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

            <!--===== SERVICE AREA ENDS =======-->

          </div>
</th:block>
